/* app css stylesheet */
table
{
	padding: 7px;
	border-collapse:collapse;
	background-color:#F3FFE8;
}
td
{
	border: 1px solid gray;
	background-color:
}
body
{
	background-color: #F2F2F2;
}
button {
	position:relative;
	width:120px;
	height:20px;
}
#submit {
	position: relative;
	top:25px;	left: -185px;
}
