<!DOCTYPE html>
<html lang="en" ng-app>
	<head>
		<meta charset="utf-8" />
		<title>Remsim</title>
		<meta name="description" content="" />
		<meta name="author" content="Christian Lambert" />
		<script src="lib/angular/angular.js"></script>
		<script src="js/controllers.js"></script>
		<script src="js/layers.js"></script>
		<meta name="viewport" content="width=device-width; initial-scale=1.0" />
		<link rel="stylesheet" type="text/css" href="css/app.css" /> 
	</head>
	<body>
		<div>
			<header>
				<h1>Geant4 Web Interface</h1>
				<br />
				<a href="about.html" >About</a>
			</header>
			<div>
				<table ng-controller="InputCtrl">
					<tbody>					
						<tr ng-repeat="layer in numLayers">
							<td> Layer {{layer}}
								<label>Pick a material</label>
								<select>
									<option ng-repeat="material in materials | orderBy:orderProp" value="{{material.value}}">{{material.name}}</option>
								</select>
							</td>
							<td>
								Thickness:
								<input type="text" ng-model="{number}" required ng-change="{}"/>
								<select>
									<option value="cm">cm</option>
									<option value="km">km</option>
									<option value="m">m</option>
									<option value="mm">mm</option>
								</select>
							</td>
						</tr>
					</tbody>			
				</table>
				<button id='add' ng-click='addLayer()'>Add a layer</button>
				<button id='remove' ng-click='removeLayer()'>Remove a layer</button>
				<button id='submit' ng-click='sumbit()'>Submit</button>
			</div>
			
			<footer>
				
			</footer>
		</div>
	</body>
</html>
