<!DOCTYPE html>
<html lang="en" ng-app>
	<head>
		<meta charset="utf-8" />
		<title>Remsim</title>
		<meta name="description" content="" />
		<meta name="author" content="Christian Lambert" />
		<script src="js/jquery-1.10.1.js"></script>
		<script src="lib/angular/angular.js"></script>
		<script src="js/controllers.js"></script>
		<script src="js/layers.js"></script>
		<link rel="stylesheet" type="text/css" href="css/app.css" /> 

		
	</head>

	<body ng-controller="MaterialCtrl">
		<div>
			<header>
				<h1>Geant4 Web Interface</h1>
				<br />
				<a href="about.html" >About</a>
			</header>
			<div>
				<table>					
					<tr>
						<td> Layer 1
							<label>Pick a material</label>
							<select>
								<option ng-repeat="material in materials | orderBy:orderProp" value="{{material.value}}">{{material.name}}</option>
							</select>
						</td>
						<td>
							Thickness:
							<input type="text" ng-model="number" required ng-change="{}"/>
							<select>
								<option value="cm">cm</option>
								<option value="km">km</option>
								<option value="m">m</option>
								<option value="mm">mm</option>
							</select>
						</td>
						</tr>
						<tr>
						<td> Layer 2
							<label>Pick a material</label>
							<select>
								<option ng-repeat="material in materials | orderBy:orderProp" value="{{material.value}}">{{material.name}}</option>
							</select>
						</td>
						<td>
							Thickness:
							<input type="text" ng-model="number" required ng-change="{}"/>
							<select>
								<option value="cm">cm</option>
								<option value="km">km</option>
								<option value="m">m</option>
								<option value="mm">mm</option>
							</select>
						</td>
						</tr>
						<tr>
						<td> Layer 3
							<label>Pick a material</label>
							<select>
								<option ng-repeat="material in materials | orderBy:orderProp" value="{{material.value}}">{{material.name}}</option>
							</select>
						</td>
						<td>
							Thickness:
							<input type="text" ng-model="number" required ng-change="{}"/>
							<select>
								<option value="cm">cm</option>
								<option value="km">km</option>
								<option value="m">m</option>
								<option value="mm">mm</option>
							</select>
						</td>
					</tr>
				</table>
				<button id='add'ng-click='addLayer()'>Add a layer</button>
				<button id='remove' ng-click='removeLayer()'>Remove a layer</button>
				<br />
				<button id='submit' ng-click='sumbit()'>Submit</button>
			</div>
			<footer>
				
			</footer>
		</div>
	</body>
</html>
